.quizContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.questionContainer {
  text-align: left;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.questionContainer p {
  font-size: 18px;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.answerItem {
  width: 48%;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resultContainer {
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttonContainer button {
  width: 48%;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
