.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  width: 330px;
  margin: 0 auto;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-input {
  width: 300px;
  margin: 10px 0;
  padding: 10px;
}

.error-message {
  color: red;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.submit-button {
  margin-top: 10px;
}

.blue-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.teacher-checkbox {
  margin-right: 10px;
}
