.singleChoiceFormContainer {
  max-width: 330px;
  margin: 0 auto;
  padding: 20px 15px;
  width: 100%;
}

.singleChoiceFormHeader {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.singleChoiceFormLabel {
  font-weight: bold;
}

.singleChoiceFormOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.singleChoiceFormRadioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.singleChoiceFormSubmitButton {
  margin-top: 20px;
}
